.banner{
  position: relative;
  max-width: 1170px;
  margin: auto;
  height: 650px;
  background-position: center;

  &_content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 380px;
    transform: translate(-50%, -50%);
    p, h1{
      color: #FFFFFF;
    }
    p{
      text-align: center;
      margin: 21px 0 32px 0;
    }
  }
}

@media screen and (max-width: 1020px) {
  .banner{
    height: 500px;
  }
}