header{
  width: 100%;
  background: #FFFFFF;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  .button:nth-child(1){
    margin-right: 10px;
  }
}