header {
  width: 100%;
  background: #FFFFFF;
}

#logo{
  min-width: 104px;
  width: 104px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  ul {
    a {
      max-width: 100px;
      display: inline-block;

      &:nth-child(1) {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  #logo{
    margin-right: 1%;
  }
  .navbar {
    nav{
      width: 100%;
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      a {
        &:nth-child(1) {
          margin-right: 0;
        }
      }
    }
  }
}