@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import "vars";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Nunito', sans-serif;
  background: $backgroundColor;
  font-size: 16px;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  width: 100%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.container{
  margin: 0 60px;
  width: auto;
  max-width: 1170px;
}
@media screen and (min-width: 1285px){
  .container{
    margin: auto;
  }
}
@media screen and (max-width: 1020px){
  .container{
    margin: 0 32px;
  }
}
@media screen and (max-width: 672px){
  .container{
    margin: 0 16px;
  }
}


.button{
  background: $primaryColor;
  padding: 4px 18px;
  display: inline-block;
  border-radius: 80px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  &:hover{
    background: $primaryActiveColor;
  }
  &:disabled{
    background: $disabledColor;
    cursor: auto;
    color: white;
  }
}

.preload{
  height: 48px;
  width: 48px;
  margin: 50px auto;
  img{
    height: 100%;
    width: 100%;
    animation: rotate 500ms infinite linear;
  }
}

@import "header";
@import "banner";
@import "users";
@import "form";

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}